
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Didact+Gothic&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

@font-face {
    font-family: abbadon;
    src: url(/assets/fonts/Abaddon/Abaddon™\ 400.ttf);
}
* {
    margin: 0;
    padding: 0 ;
    border: none;
    font-family: 'Didact Gothic', sans-serif;
}
/* CSS style for Header*/
header {
    text-align: center;
}
header  a {
    text-decoration: none;
    width: 90%;
    font-size: 900%;
    color: rgba(136, 8, 8, 1);
    font-family: abbadon;

} 
/* CSS style for Navigation */
nav {
    width: 90%;
    margin-left: 5%;
    color: rgba(136, 8, 8, 1);
}
nav ul {
    margin: auto;
    text-align: center;
    border-radius: 5px;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px 0 20px;
    font-size: large;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: black;
}
/* CSS for map with text */
#main_img {
    background-image: url("../images/bran_castle.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    aspect-ratio: 1920 / 1283;
    margin-top: 1px;
    padding: 0;
    border-radius: 10px;
}
#main_img_text_shape {
    width: 35%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(136, 8, 8, 1);
    display: flex;
    border-radius: 150%;
    text-align: center;
    position: relative;
    margin-top: 3%;
    margin-left: 62%;
    font-size: 125%;
}
.main_img_text {
    margin: auto;
}
/* CSS for brief text */
#brief_text {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
}
#brief_text > h2 {
    color: black;
}
/* Brief History - Dracula CSS */
#dracula img {
float: right;
margin: 5px;
}
/* CSS for footer */
#footer {
    background-color: black;
    color: azure;
    position: relative;
    bottom: 0px;
    left: 5%;
    width: 90%;
    text-align: center;
    height: 2.5rem;
    display: flex;
    border-radius: 10px;
}
#footer ul {
    margin: auto;
    width: 100%;
    text-align: center;
}
#footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px 0 15px;
}
#footer a {
    text-decoration: none;
    color: whitesmoke;
}
#footer i {
    color: rgba(136, 8, 8, 1);
}