
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Didact+Gothic&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

@font-face {
    font-family: abbadon;
    src: url(/assets/fonts/Abaddon/Abaddon™\ 400.ttf);
}
* {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}
body { /*settings for background */
    background: linear-gradient(to bottom, white, #880808);}
    min-height: 100vh;
/* CSS style for Header*/
header {
    text-align: center;
    height: 100px;
    background-image: url("../images/blood1.gif");
    z-index: ;
}
header  a {
    text-decoration: none;
    width: 100%;
    font-size: xxx-large;
    color: rgba(136, 8, 8, 1);
    font-family: abbadon;
    margin-top: -50px;
} 
/* CSS style for Navigation */
nav ul {
    text-align: center;
    height: 50px;
}
nav li {
    list-style-type: none;
    font-size: large;
    text-decoration: none;
    display: inline-block;
    width: 32%;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: rgba(136, 8, 8, 1);
}
/* CSS for map with text */
#main_img {
    background-image: url("../images/bran_castle.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    aspect-ratio: 1920 / 1283;
    width: 98%;
    border-radius: 10px;
    display: block;
    margin:auto ;
}
#main_img_text_shape {
    width: 35%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(136, 8, 8, 1);
    display: flex;
    border-radius: 150%;
    text-align: center;
    position: relative;
    margin-top: 3%;
    margin-left: 62%;
    font-size: 125%;
}
.main_img_text {
    margin: auto;
    font-size:2vw ;
}
/* CSS for brief text */
#main_intro_text {
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
.brief  {/* Justify all text*/
    text-align: justify;
    width: 94%;
    margin: 3%;
}
/* CSS for artices in brief history page */
article {
    overflow: hidden;
    padding: 20px;
}
article > img{
    border-radius: 10px;
    width: 50%;
    margin: 10px
}
article:nth-child(odd) > img {

    float: right;
}
article:nth-child(even) > img {

    float: left;
}
/* CSS for footer */
.footer {
    background-color: black;
    color: whitesmoke;
    position: relative;
    bottom: 0 px;
    height: 2.5rem;
    display: flex;
    border-radius: 10px;
    width: 100%;
    margin-top: auto;
}
.footer ul {
    margin: auto;
    width: 100%;
    text-align: center;
}
.footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    width: 32%;
}
.footer a {
    text-decoration: none;
    color: whitesmoke;
}
.footer a:hover {
    text-decoration: none;
    color: rgba(136, 8, 8, 1);
}
.footer i {
    color: rgba(136, 8, 8, 1);
}
.footer i:hover {
    color: whitesmoke;
}
/* CSS settings for screen width */
/* for small to medium screen sizes up to 850px wide and down*/
@media screen and (max-width: 850px)
{
    article {
        overflow: hidden;
        padding: 20px 0 20px 0;
    } 
    article img{
        border-radius: 10px;
        width: 100%;
    }
}
/*CSS for contact*/
#message {float: left;}
.about {text-align: center;}
.button_send {
    background-color: rgb(136, 8, 8);
    border: solid 2 black;
    color: whitesmoke;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    height: 55px;
}
.button_send:hover{border: 3px double black; color: black;}
.contact_us{
    overflow: hidden;
    background-size: cover;
    /* display: flex; */
}
fieldset {
    width: 90%;
    margin: 1% auto;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 10px rgba(136, 8, 8, .866);
    padding: 20px;
    border: 2px solid whitesmoke;

}
textarea {
    width: 75%;
    padding: 15px;
    border: 2px solid rgb(136, 8, 8);
    border-radius: 10px;
    box-shadow: 0 0 15px 10px rgba(136, 8, 8, 0.4);
    box-sizing: border-box;
    margin: 15px;
    float: right;
}

.user-entry:hover {
    border: 3px double rgb(136, 8, 8);
}

.user-entry:active {
    box-shadow: 0 0 25px 10px rgb(136, 8, 8);
}